body {
  background-color: #232323;
  padding: 0;
  font-family: "Montserrat", "Avenir";
  margin: 0;
}
#container {
  max-width: 600px;
  margin: 20px auto;
}
#colorDisplay {
  display: block;
  font-size: 200%;
}
#message {
  display: inline-block;
  width: 20%;
}
.square {
  width: 25%;
  background: purple;
  padding-bottom: 25%;
  float: left;
  margin: 10px 4.1666%;
  transition: background 0.7s;
  --webkit-transition: background 0.7s;
  --moz-transition: background 0.7s;
  border-radius: 15%;
}
h1 {
  text-align: center;
  padding: 20px 0;
  line-height: 1.1;
  color: white;
  font-weight: normal;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected {
  color: white;
  background: steelblue;
}
button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.5s;
  --webkit-transition: all 0.5s;
  --moz-transition: all 0.5s;
  outline: none;
}
button:hover {
  color: white;
  background: steelblue;
}
